<!DOCTYPE html>
<html>
    <head>
        <title>SubScript</title>
        <link rel="stylesheet" type="text/css" href="style2.css">
    </head>
    <body>
        <header>
            <a href="#" class="logo"><img src="/surce/logo1.png" height="50px"></a> 
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Log in</a></li>
            </ul>
        </header>
        <main>
            <div class="login-window">
                <div class="lg-w">
                    <div class="login-window-up">
                        <h1 align="center">REGISTER</h1>
                    </div>
                    <div class="login-window-main">
                        <p>Email</p>
                        <input type="email" name="email" placeholder="Enter your email">
                        <p>Password</p>
                        <input type="password" name="password" placeholder="Enter your password">
                        <p class="register"><a href="">Log in</a></p>
                        <div class="bt1"><button class="Login_button" type="submit" name="submit">Register</button></div>
                    </div>
                </div>
            </div>            
        </main>
    </body>
</html>